#port{
    background-image: url('../images/porfo1.png');
    width:auto;
    height: 840px;
    border-bottom-style:groove;
    border-color:#33ade3;
}
#logo{
    width: 150px;
    height: 25px;
    margin-top: 1%;
    margin-left: 2%;
}
#Apropos{
    margin-top: 10%;
    font-size: 25px;
    text-align: center;
   color: #33ade3;
}
ul{
    text-decoration: none;
    display: flex;
}
a{
    color: #0c2530;
    text-decoration: none;
}
#navbarNav{
    padding-left: 75%;
}
body{
    background-color: #0c2530;
}
#photos{
    width: 15%;
    height: 15%;
    margin-top: 14%;
}
#f1{
    width:53%;

}
#contact{
    padding-left: 35%;
    
}
#zone{
    background:transparent;

    color: #33ade3;
}
label{
    color:  #33ade3;
}
h1{
    padding-top: 10%;
    text-align: center;
}
footer{
    width: auto;
    background-color: #0386bf;
    text-align: center;
    padding-top: 5%;
}
#social{
    width: 25px;
    height: 25px;
}
#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
  }
  #scroll_to_top img {
    width: 25px;
  }
